data/donnees-synop-essentielles-omm.csv

# Python temp files
__pycache__/
*.py[cod]
*$py.class

.vscode/

data/data_extracted/df_meteo_brut.csv
data/data_extracted/df_datatourisme.csv
data/data_transformed/datatourism_cleaned.csv

